body {
    height: 4096px;
}

.scroll {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 20%;
    height:20%;
    background-color: blue;
    color: white;
    text-align: center;
    z-index: 10;
}
